{% extends 'base.html.twig' %}
{% block title %}
Recherche | ebuy - {{ q }}
{% endblock %}
{% block body %}
	<div class="container mt-8">
		<h1 class="text-6xl mb-6 font-medium">Resultat pour votre recherche "<em class="font-bold text-green-400">{{ q }}</em>"
		</h1>
        {% if not results|length > 0 %}
            <h1>Aucun resultat trouve pour le moment!</h1>
        {% endif %}
		<ul>
			{% for result in results %}
				<li class="mb-4">
					<strong>{{ result.document.name }}</strong>
					{% for h in result.highlights %}
						<p>
							{{h.snippet | raw}}
						</p>
					{% endfor %}
				</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}
