<div class="header px-20 bg-green-500 text-white py-24">
	<div class="container">

		<h1 class="text-4xl line-clamp-2">Bienvenue sur e-shop,</br>
		Decouvrez nos derners articles favoris</h1>
		<p class="text-xl mt-12">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, voluptatibus impedit. Enim quas quisquam dolorem? Odio velit at quaerat et, odit ducimus consectetur consequuntur nesciunt dolorem qui perspiciatis, autem quasi.</p>
		<button class="px-4 py-1.5 bg-transparent border-white rounded border hover:bg-white hover:text-black duration-300 mt-8">Decouvrir</button>
	</div>
</div>