<div class="py-4 text-gray-50 bg-green-500">
	<div class="container">
		<div class="flex justify-between">
			<a href="#" class=" text-3xl text-center flex justify-center items-center gap-6">
				<icon-feather name="shopping-cart"></icon-feather>
				<p class="font__luckiest">E-buy</p>
			</a>
			<div class="flex">
				<ul class="flex justify-center items-center md:gap-4">
					<a class="hover:text-white  border-l pl-2" href="">
						<li class="flex items-center justify-center gap-1">
							<icon-feather name="user" size="16"></icon-feather>Connexion</li>
					</a>
					<a href="">
						<li class="flex items-center justify-center gap-1">
							<icon-feather name="edit" size="16"></icon-feather>
						</li>
					</a>
				</ul>
			</div>
		</div>
	</div>
</div>
