{% extends 'base.html.twig' %}

{% block title %}Article -
	{{article.name}}
{% endblock %}

{% block body %}

	{% include("component/header.html.twig") %}
	<div class="container mt-4 text-gray-700">

		<h1 class="text-2xl ">
			Nom de l'article:
			<strong>{{article.name}}</strong>
		</h1>
        <div class="text-lg">
            {{article.description}}
        </div>
        <div>
            Price : <strong>{{article.price}}</strong> $
        </div>

	</div>
{% endblock %}
