svg.heart__icon:hover{
    fill: red;
    stroke: red !important;
    transition-duration: 300ms;
}
.heart__icon {
    fill: transparent;
    stroke: white;
}

svg.heart__icon_liked {
    stroke: red !important;
    fill: red;
}