{% extends 'base.html.twig' %}

{% block title 'E-Buy | Parametre utilisateur' %}

{% block body %}
    <div class="container mt-12">
        <h1 class="text-3xl font-medium">Parametre utilisateur</h1>
        {% include 'user/_profile.html.twig' %}
    </div>
{% endblock %}